<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <ul class="nav">
            <li class="navItem">
                <a href="/">Home</a>
            </li>
            {{!-- <li class="nav-item">
                <a class="nav-link active" href="/david">David</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/alexis">Alexis</a>
            </li> --}}
        </ul>
        {{{body}}}
    </body>
</html>