<form action="/{{restaurant.id}}/update" method="POST">
    <input type="text" id="name" name="name" value="{{restaurant.name}}" required> <br>
    <input type="url" id="image" name="image" value="{{restaurant.image}}" required> <br>
    <input type="submit" value="Update Restaurant">
</form>